@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Irish Grover', cursive;
  background-color: #370C6B;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-page {
  width: 1532px;
  height: 695px;
  position: relative;
  background: #370C6B;
  overflow: hidden;
}

/* Skor tabelası sol */
.score-box.left {
  position: absolute;
  left: 458px;
  top: 348px;
}

/* Skor tabelası sağ */
.score-box.right {
  position: absolute;
  left: 846px;
  top: 348px;
}

/* Başlıklar */
.title {
  position: absolute;
  width: 677px;
  left: 428px;
  top: 89px;
  text-align: center;
  color: #D4AB24;
  font-size: 64px;
  font-weight: 400;
  word-wrap: break-word;
  user-select: none;
}

.subtitle {
  position: absolute;
  width: 677px;
  left: 428px;
  top: 198px;
  text-align: center;
  color: #D4AB24;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
  user-select: none;
}

/* Butonlar */
.create-room, .join-room {
  position: absolute;
  width: 133px;
  height: 88px;
  text-align: center;
  color: #D4AB24;
  font-size: 36px;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  font-family: 'Irish Grover', cursive;
  white-space: pre-line; /* <br> çalışması için */
}

.create-room {
  left: 506px;
  top: 418px;
}

.join-room {
  left: 894px;
  top: 418px;
}
